<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.yinlihu.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="club.yinlihu.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>
    
    <select id="findByName" resultType="club.yinlihu.entity.User">
        select * from user where name = #{name}
    </select>
 
</mapper>